In [21]:
import pandas as pd
import numpy as np

***

 ### Step 1: Loading and Preprocessing the Data
---
Read the CSV file and save it in a temporary dataframe.    
To further safeguard patient privacy, the data has been subjected to extra deidentification prior to importing.

In [22]:
temp_df = pd.read_csv("do_not_track/ckd_deidentified.csv")

### Renaming Columns and Setting Index
---
* Rename the column "Unnamed: 0" to "instance" in the temporary dataframe.
* Set the "instance" column as the index of the dataframe.
* Remove the index name to improve clarity.
* Create a new dataframe, "df," as a copy of the temporary dataframe.

In [23]:
temp_df.rename(columns={"Unnamed: 0": "instance"}, inplace = True)
temp_df.set_index('instance', inplace = True)
temp_df.index.name = None
df = temp_df.copy()


### Displaying DataFrame Information
---
This next code snippet provides various insights and information about the DataFrame:    

* Displaying the First Five Lines:    
    The first five lines of the dataframe are printed.
   
* Displaying DataFrame Columns:    
    The names of the columns in the dataframe are printed.
   
* Displaying Column Data Types:    
    The data types of the columns in the dataframe are printed.
   
* Displaying DataFrame Shape:    
    The number of rows and columns in the dataframe are printed.
   
* Displaying Summary Statistics:    
    Summary statistics for the numerical columns in the dataframe are printed, rounded to two decimal places.
   
* Displaying Gender Distribution:    
    The distribution of genders in the dataframe is printed as a percentage, rounded to five decimal places.    

These lines of code help provide an overview of the dataframe's content, structure, and statistical information.

In [24]:
print(f"\033[1mThe first five lines are:\033[0m\n\n{df.head()}\n")
print(f"\033[1mThe DataFrame columns are:\033[0m\n\n{df.columns}\n")
print(f"\033[1mThe column data types are:\033[0m\n\n{df.dtypes}\n")
print(f"\033[1mThe dataframe has\033[0m {df.shape[0]} \033[1mlines and\033[0m {df.shape[1]} \033[1mcolumns\033[0m\n")
print(f"\033[1mThe summary statistics for the numerical columns are:\033[0m\n\n{df.describe().round(2)}\n")
print(f"\033[1mThe gender distribution is:\033[0m\n\n{(df['gender'].value_counts(normalize=True).round(2) * 100).apply(lambda x: f'{x}%')}\n")

The first five lines are:

                                                    hematocrit  hemoglobin  \
0000003c42d42886f0512786c8cef89336c3dbc4a25e5dd...        25.3         8.5
00000727efa061858c1e6611657af5b6defd0ab071091a0...        28.6        10.0
00002d1472769d21c156977f93e2e1db0557807f470e08a...        31.7        10.1
00004622a4c6b7bb6b873558488dd2e828dc77a5d9587f6...        37.8        12.4
00004741d15bcf0f0453f94cdd9eeb85c663584f26c5fe0...        23.1         7.8

                                                     mch  mchc   mcv  \
0000003c42d42886f0512786c8cef89336c3dbc4a25e5dd...  28.6  33.4  86.0
00000727efa061858c1e6611657af5b6defd0ab071091a0...  29.8  34.9  85.0
00002d1472769d21c156977f93e2e1db0557807f470e08a...  28.2  31.9  88.0
00004622a4c6b7bb6b873558488dd2e828dc77a5d9587f6...  31.1  32.9  95.0
00004741d15bcf0f0453f94cdd9eeb85c663584f26c5fe0...  28.7  33.7  85.0

                                                    platelet   rbc   rdw  \
0000003c42d42886f0512786c8cef89336c3dbc4a25e5dd...     275.0  2.96  13.4
00000727efa061858c1e6611657af5b6defd0ab071091a0...     102.0  3.36  13.8
00002d1472769d21c156977f93e2e1db0557807f470e08a...     201.0  3.58  14.5
00004622a4c6b7bb6b873558488dd2e828dc77a5d9587f6...     347.0  4.00  13.8
00004741d15bcf0f0453f94cdd9eeb85c663584f26c5fe0...      76.0  2.71  16.4

                                                     wbc  albumin  ...  \
0000003c42d42886f0512786c8cef89336c3dbc4a25e5dd...   3.0      NaN  ...
00000727efa061858c1e6611657af5b6defd0ab071091a0...   1.9      NaN  ...
00002d1472769d21c156977f93e2e1db0557807f470e08a...   4.2      NaN  ...
00004622a4c6b7bb6b873558488dd2e828dc77a5d9587f6...  11.2      3.9  ...
00004741d15bcf0f0453f94cdd9eeb85c663584f26c5fe0...   7.8      NaN  ...

                                                    chloride  creatinine  \
0000003c42d42886f0512786c8cef89336c3dbc4a25e5dd...     109.0         0.7
00000727efa061858c1e6611657af5b6defd0ab071091a0...     104.0         0.7
00002d1472769d21c156977f93e2e1db0557807f470e08a...     104.0         0.6
00004622a4c6b7bb6b873558488dd2e828dc77a5d9587f6...     101.0         0.9
00004741d15bcf0f0453f94cdd9eeb85c663584f26c5fe0...     105.0         1.5

                                                    glucose  sodium  \
0000003c42d42886f0512786c8cef89336c3dbc4a25e5dd...    114.0   140.0
00000727efa061858c1e6611657af5b6defd0ab071091a0...     82.0   139.0
00002d1472769d21c156977f93e2e1db0557807f470e08a...     97.0   139.0
00004622a4c6b7bb6b873558488dd2e828dc77a5d9587f6...    149.0   139.0
00004741d15bcf0f0453f94cdd9eeb85c663584f26c5fe0...    207.0   136.0

                                                    potassium  age  gender  \
0000003c42d42886f0512786c8cef89336c3dbc4a25e5dd...        3.9   48       F
00000727efa061858c1e6611657af5b6defd0ab071091a0...        3.9   59       M
00002d1472769d21c156977f93e2e1db0557807f470e08a...        3.6   83       F
00004622a4c6b7bb6b873558488dd2e828dc77a5d9587f6...        4.1   51       F
00004741d15bcf0f0453f94cdd9eeb85c663584f26c5fe0...        4.8   71       M

                                                    ckd  hypertension  \
0000003c42d42886f0512786c8cef89336c3dbc4a25e5dd...    0             0
00000727efa061858c1e6611657af5b6defd0ab071091a0...    0             1
00002d1472769d21c156977f93e2e1db0557807f470e08a...    0             1
00004622a4c6b7bb6b873558488dd2e828dc77a5d9587f6...    0             0
00004741d15bcf0f0453f94cdd9eeb85c663584f26c5fe0...    1             1

                                                    diabetes
0000003c42d42886f0512786c8cef89336c3dbc4a25e5dd...         0
00000727efa061858c1e6611657af5b6defd0ab071091a0...         0
00002d1472769d21c156977f93e2e1db0557807f470e08a...         0
00004622a4c6b7bb6b873558488dd2e828dc77a5d9587f6...         0
00004741d15bcf0f0453f94cdd9eeb85c663584f26c5fe0...         0

[5 rows x 26 columns]

The DataFrame columns are:

Index(['hematocrit', 'hemoglobin', 'mch', 'mchc', 'mcv', 'platelet', 'rbc',
       'rdw', 'wbc', 'albumin', 'globulin', 'total_protein', 'aniongap',
       'bicarbonate', 'bun', 'calcium', 'chloride', 'creatinine', 'glucose',
       'sodium', 'potassium', 'age', 'gender', 'ckd', 'hypertension',
       'diabetes'],
      dtype='object')

The column data types are:

hematocrit       float64
hemoglobin       float64
mch              float64
mchc             float64
mcv              float64
platelet         float64
rbc              float64
rdw              float64
wbc              float64
albumin          float64
globulin         float64
total_protein    float64
aniongap         float64
bicarbonate      float64
bun              float64
calcium          float64
chloride         float64
creatinine       float64
glucose          float64
sodium           float64
potassium        float64
age                int64
gender            object
ckd                int64
hypertension       int64
diabetes           int64
dtype: object

The dataframe has 1636315 lines and 26 columns

The summary statistics for the numerical columns are:

       hematocrit  hemoglobin         mch        mchc         mcv    platelet  \
count  1629960.00  1593606.00  1588370.00  1588542.00  1588470.00  1598386.00
mean        31.25       10.24       29.80       32.74       91.09      227.89
std          6.00        2.07        2.77        1.65        7.30      133.91
min          4.30        1.30       12.30       21.50        8.00        5.00
25%         26.60        8.60       28.40       31.70       87.00      143.00
50%         30.70       10.00       30.00       32.80       91.00      209.00
75%         35.40       11.70       31.40       33.80       95.00      288.00
max        248.00       23.30      374.60       47.60      156.00     2947.00

              rbc         rdw         wbc    albumin  ...     calcium  \
count  1588481.00  1587352.00  1590141.00  257170.00  ...  1372546.00
mean         3.46       15.56        9.48       3.24  ...        8.61
std          0.72        2.58        9.03       0.67  ...        0.75
min          0.45       10.40        0.10       0.20  ...        0.10
25%          2.91       13.70        5.80       2.80  ...        8.20
50%          3.40       15.00        8.10       3.20  ...        8.60
75%          3.95       16.80       11.40       3.70  ...        9.10
max          8.30      161.00      884.00       9.10  ...      132.00

         chloride  creatinine     glucose      sodium   potassium         age  \
count  1602819.00  1607316.00  1567033.00  1602243.00  1614938.00  1636315.00
mean       102.32        1.41      126.35      138.42        4.12       63.88
std          5.58        1.53       60.27        4.43        0.57       16.64
min         56.00        0.10        1.00       73.00        0.90       18.00
25%         99.00        0.70       94.00      136.00        3.80       54.00
50%        103.00        0.90      111.00      139.00        4.10       65.00
75%        106.00        1.40      140.00      141.00        4.40       76.00
max        155.00       74.00     5840.00      182.00       26.50      103.00

              ckd  hypertension    diabetes
count  1636315.00    1636315.00  1636315.00
mean         0.24          0.62        0.32
std          0.43          0.48        0.46
min          0.00          0.00        0.00
25%          0.00          0.00        0.00
50%          0.00          1.00        0.00
75%          0.00          1.00        1.00
max          1.00          1.00        1.00

[8 rows x 25 columns]

The gender distribution is:

M    53.0%
F    47.0%
Name: gender, dtype: object

---

### Calculating Missing and Duplicate Values
---
This code snippet calculates and displays the following information about the dataframe:

* Calculating Percentage of Missing Values:    
    The percentage of missing values in each column is calculated and rounded to three decimal places.
   
* Calculating Percentage of Duplicate Values:    
    The percentage of duplicate rows is calculated and rounded to two decimal places. 

These lines of code provide insights into the presence of missing values and duplicates within the dataframe.

In [25]:
missing_values_percentage = (df.isnull().mean()*100).round(3).apply(lambda x: f'{x}%')
duplicates_count = (df.duplicated().mean()*100).round(2)

print(f"\033[1mThe percentage of missing values is:\033[0m\n\n{missing_values_percentage}\n")
print(f"\033[1mThe percentage of duplicate values is:\033[0m\n\n{duplicates_count}%")

The percentage of missing values is:

hematocrit        0.388%
hemoglobin         2.61%
mch                2.93%
mchc               2.92%
mcv               2.924%
platelet          2.318%
rbc               2.923%
rdw               2.992%
wbc               2.822%
albumin          84.284%
globulin         99.532%
total_protein     99.19%
aniongap          3.408%
bicarbonate       3.223%
bun               2.325%
calcium           16.12%
chloride          2.047%
creatinine        1.772%
glucose           4.234%
sodium            2.082%
potassium         1.306%
age                 0.0%
gender              0.0%
ckd                 0.0%
hypertension        0.0%
diabetes            0.0%
dtype: object

The percentage of duplicate values is:

0.0%

### Counting Rows with Serum Creatinine Equal to 0
----------------------------------------------------
This code snippet counts the number of rows in the dataframe where the 'creatinine' column has a value of 0.    
The egfr equation contains this part $\min\left( \frac{standardized\ Scr}{a},\ 1 \right)^{- 0.241}$.    
Thus in case of Scr equal to 0 we would need to raise 0 in a negative number (-0.241) which throws a ZeroDivisionError.
 
* Counting Rows with Serum Creatinine Equal to 0:    
    Rows in the dataframe where the 'creatinine' column is equal to 0 are counted.    
    The count is stored in the variable 'creatinine_0' as a list and the calculated percentage is printed.

In [26]:
creatinine_0 = df[df['creatinine'] == 0]['creatinine'].value_counts().to_list()
if len(creatinine_0) > 0:
    percentage = round((100 * creatinine_0[0] / len(df)), 5)
    print(f"\033[1mThe percentage of indexes with creatinine equal to 0 is\033[0m {percentage}%")
else:
    print("\033[1mNo indexes with creatinine equal to 0 found.\033[0m")

No indexes with creatinine equal to 0 found.

### Data Cleaning Operations
---
This code snippet performs various data cleaning operations on the dataframe:

* Removing Rows and columns with Missing Values:    
    The columns albumin, globulin and total protein have an high percentage of missing values and will be droped.
    All rows with missing values are droped as well.
   
* Removing Duplicate Rows:    
    There are no duplicate rows that need to be removed.
   
* Removing Rows with Serum Creatinine Equal to 0:    
    There are no rows where creatinine equals 0 that need to be removed.
    
These operations help ensure data quality and prepare the dataframe for further analysis.

In [27]:
df = df.drop(["albumin", "globulin", "total_protein"], axis=1)
df.dropna(axis=0, inplace=True)
# df.drop_duplicates(inplace=True)
# df = df[df['creatinine'] != 0].dropna()

In [28]:
print(f"\033[1mThe dataframe has\033[0m {df.shape[0]} \033[1mrows and\033[0m {df.shape[1]} \033[1mcolumns\033[0m\n")
print(f"\033[1mThe summary statistics for the numerical columns are:\033[0m\n\n{df.describe().round(2)}\n")
print(f"\033[1mThe gender distribution is:\033[0m\n\n{(df['gender'].value_counts(normalize=True).round(2) * 100).apply(lambda x: f'{x}%')}\n")

The dataframe has 1338774 rows and 23 columns

The summary statistics for the numerical columns are:

       hematocrit  hemoglobin         mch        mchc         mcv    platelet  \
count  1338774.00  1338774.00  1338774.00  1338774.00  1338774.00  1338774.00
mean        31.04       10.15       29.81       32.69       91.24      226.79
std          5.98        2.05        2.76        1.66        7.35      135.67
min          4.30        1.30       12.30       22.00        8.00        5.00
25%         26.40        8.50       28.40       31.60       87.00      140.00
50%         30.40        9.90       30.00       32.70       91.00      208.00
75%         35.10       11.50       31.40       33.80       95.00      289.00
max         68.60       23.30       56.70       47.60      156.00     2669.00

              rbc         rdw         wbc    aniongap  ...     calcium  \
count  1338774.00  1338774.00  1338774.00  1338774.00  ...  1338774.00
mean         3.43       15.68        9.44       13.79  ...        8.62
std          0.72        2.62        9.06        3.52  ...        0.74
min          0.45       10.40        0.10      -22.00  ...        0.10
25%          2.88       13.80        5.70       11.00  ...        8.20
50%          3.36       15.10        8.10       13.00  ...        8.60
75%          3.91       17.00       11.30       16.00  ...        9.10
max          8.28       44.30      878.30       91.00  ...       61.00

         chloride  creatinine     glucose      sodium   potassium         age  \
count  1338774.00  1338774.00  1338774.00  1338774.00  1338774.00  1338774.00
mean       102.29        1.45      126.64      138.45        4.11       63.85
std          5.65        1.60       58.89        4.47        0.57       16.52
min         57.00        0.10        2.00       73.00        1.00       18.00
25%         99.00        0.70       95.00      136.00        3.70       54.00
50%        103.00        0.90      112.00      139.00        4.10       65.00
75%        106.00        1.40      141.00      141.00        4.40       76.00
max        155.00       74.00     3620.00      182.00       26.50      103.00

              ckd  hypertension    diabetes
count  1338774.00    1338774.00  1338774.00
mean         0.25          0.62        0.32
std          0.43          0.49        0.47
min          0.00          0.00        0.00
25%          0.00          0.00        0.00
50%          0.00          1.00        0.00
75%          0.00          1.00        1.00
max          1.00          1.00        1.00

[8 rows x 22 columns]

The gender distribution is:

M    53.0%
F    47.0%
Name: gender, dtype: object

### eGFR Calculation
***

The CKD-EPI(2021) eGFR equation differentiates depending on the patient gender. Based on the CKD-EPI(2021) equation from [kidney.org](https://www.kidney.org/professionals/kdoqi/gfr_calculator/formula) the gender specific equations are:    

$eGFR\_ female = 142*\min\left( \frac{standardized\ Scr}{0.7},\ 1 \right)^{- 0.241}*{\max\left( \frac{standardized\ Scr}{0.7},\ 1 \right)}^{- 1.2}*{0.9938}^{age}*1.012$    

  

$eGFR\_ male = 142*\min\left( \frac{standardized\ Scr}{0.9},\ 1 \right)^{- 0.302}*{\max\left( \frac{standardized\ Scr}{0.9},\ 1 \right)}^{- 1.2}*{0.9938}^{age}$    

---
This code snippet defines two functions to calculate the estimated glomerular filtration rate (eGFR) based on age and serum creatinine levels. The calculated eGFR is rounded to two decimal places and returned as the result:

* Equation for Females: egfr_f(age,s_cr).
* Equation for Males: egfr_m(age,s_cr).    

Where:    
**age** represents the age of the individual    
**s_cr** denotes the serum creatinine level

In [29]:
# For females
def egfr_f(age,s_cr):
    result = round(142 * pow(min((s_cr/0.7),1), -0.241) * pow(max((s_cr/0.7),1),-1.2) * pow(0.9938, age) * 1.012 , 2)
    return result

# For males
def egfr_m(age,s_cr):
    result = round(142 * pow(min((s_cr/0.9),1), -0.302) * pow(max((s_cr/0.9),1),-1.2) * pow(0.9938, age) , 2)
    return result

### Calculating eGFR for Each Row
---    
This code snippet calculates the estimated glomerular filtration rate (eGFR) for each row in the dataframe based on gender-specific equations and the values of 'age' and 'creatinine' columns.

1. Applying eGFR Calculation:
   - The `apply()` function is used to iterate over each row in the dataframe and calculate the eGFR.
   - For females (gender == 'F'), the `egfr_f()` function is applied with the 'age' and 'creatinine' values from the current row.
   - For males (gender != 'F'), the `egfr_m()` function is applied with the 'age' and 'creatinine' values from the current row.

2. Creating 'egfr' Column:
   - The calculated eGFR values are assigned to a new column named 'egfr' in the dataframe.

In [30]:
df['egfr'] = df.apply(lambda row: egfr_f(row['age'], row['creatinine']) if row['gender'] == 'F' else egfr_m(row['age'], row['creatinine']), axis=1)

### DataSet

After all these operations, we have a dataset with 1,338,774 entries in 24 columns that does not contain any missing data. Each row in the dataset represents a specific point in time when blood samples were taken. For example, multiple rows could correspond to blood samples taken during the same hospital admission from the same patient but at different times. Alternatively, they could represent blood samples from the same patient but during different hospital admissions.

The dataset includes flags for diabetes, high blood pressure, and chronic kidney disease (CKD), as well as the calculated estimated glomerular filtration rate (eGFR). This dataset could serve as a valuable starting point for data science projects focused on CKD or other health-related issues.